Repository OpenRailAssociation/osrd-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openrailassociation/OSRD-Front, @openrailassociation/OSRD-DevOps, @openrailassociation/OSRD-Admins

.github/CODEOWNERS:

*                                                        @openrailassociation/OSRD-Front

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @openrailassociation/OSRD-DevOps
/.github/CODEOWNERS                                      @openrailassociation/OSRD-Admins

# --- NIX ---
/nix                                                     @openrailassociation/OSRD-DevOps
/flake.lock                                              @openrailassociation/OSRD-DevOps
*.nix                                                    @openrailassociation/OSRD-DevOps

code_of_conduct: add
  CODE_OF_CONDUCT.md
Owners: @openrailassociation/OSRD-Front

dependabot: add config file
  .github/dependabot.yml
Owners: @openrailassociation/OSRD-DevOps

action: add check commit tittle
  .github/scripts/check-commit-titles.sh
  .github/workflows/osrd-ui-build.yml
Owners: @openrailassociation/OSRD-DevOps

dependabot: add config file
  .github/dependabot.yml
Owners: @openrailassociation/OSRD-DevOps

action: add check commit tittle
  .github/scripts/check-commit-titles.sh
  .github/workflows/osrd-ui-build.yml
Owners: @openrailassociation/OSRD-DevOps

ui-manchette: moves tailwind as devdependency
  ui-manchette/package.json
Owners: @openrailassociation/OSRD-Front

ui-icons: adding icons for gauge and signals
  ui-icons/icons/gauge-16.svg
  ui-icons/icons/gauge-24.svg
  ui-icons/icons/signals-16.svg
  ui-icons/icons/signals-24.svg
Owners: @openrailassociation/OSRD-Front

ui-manchette: moves tailwind as devdependency
  ui-manchette/package.json
Owners: @openrailassociation/OSRD-Front

ui-icons: add class and color in the icons props
  ui-icons/scripts/build.js
  ui-icons/src/components/_template.tsx
  ui-icons/src/stories/Icons.stories.tsx
  ui-icons/src/stories/SearchIcons.tsx
Owners: @openrailassociation/OSRD-Front

ui-manchette: improves code readability
  ui-manchette/src/components/Manchette.tsx
  ui-manchette/src/components/OperationalPoint.tsx
  ui-manchette/src/components/consts.ts
  ui-manchette/src/components/helpers.ts
  ui-manchette/src/types.ts
Owners: @openrailassociation/OSRD-Front

ci: documenting releasing process
  .github/workflows/osrd-ui-publish.yml
  README.md
  flake.lock
  flake.nix
  lerna.json
  package-lock.json
  package.json
  shell.nix
  ui-core/package.json
  ui-icons/package.json
  ui-manchette/package.json
  ui-spacetimechart/package.json
  ui-speedspacechart/package.json
  ui-warped-map/package.json
Owners: @openrailassociation/OSRD-DevOps, @openrailassociation/OSRD-Front

ci: documenting releasing process
  .github/workflows/osrd-ui-publish.yml
  README.md
  flake.lock
  flake.nix
  lerna.json
  package-lock.json
  package.json
  shell.nix
  ui-core/package.json
  ui-icons/package.json
  ui-manchette/package.json
  ui-spacetimechart/package.json
  ui-speedspacechart/package.json
  ui-warped-map/package.json
Owners: @openrailassociation/OSRD-DevOps, @openrailassociation/OSRD-Front

readme: fix md typo
  README.md
Owners: @openrailassociation/OSRD-Front

ui-speedspacechart: add declivities layer in gev v2
  ui-speedspacechart/src/__tests__/utils.spec.ts
  ui-speedspacechart/src/components/SpeedSpaceChart.tsx
  ui-speedspacechart/src/components/const.ts
  ui-speedspacechart/src/components/helpers/drawElements/declivity.ts
  ui-speedspacechart/src/components/helpers/drawElements/tickYRight.ts
  ui-speedspacechart/src/components/layers/CurveLayer.tsx
  ui-speedspacechart/src/components/layers/DeclivityLayer.tsx
  ui-speedspacechart/src/components/layers/TickLayerYRight.tsx
  ui-speedspacechart/src/components/utils.ts
  ui-speedspacechart/src/styles/main.css
Owners: @openrailassociation/OSRD-Front

ui-manchette: fix wrapper width
  ui-manchette/src/styles/manchette.css
Owners: @openrailassociation/OSRD-Front

ui-speedspacechart: add declivities layer in gev v2
  ui-speedspacechart/src/__tests__/utils.spec.ts
  ui-speedspacechart/src/components/SpeedSpaceChart.tsx
  ui-speedspacechart/src/components/const.ts
  ui-speedspacechart/src/components/helpers/drawElements/declivity.ts
  ui-speedspacechart/src/components/helpers/drawElements/tickYRight.ts
  ui-speedspacechart/src/components/layers/CurveLayer.tsx
  ui-speedspacechart/src/components/layers/DeclivityLayer.tsx
  ui-speedspacechart/src/components/layers/TickLayerYRight.tsx
  ui-speedspacechart/src/components/utils.ts
  ui-speedspacechart/src/styles/main.css
Owners: @openrailassociation/OSRD-Front

ui-speedspacechart: fix-detailsbox-display
  ui-speedspacechart/src/components/SpeedSpaceChart.tsx
  ui-speedspacechart/src/components/common/DetailsBox.tsx
  ui-speedspacechart/src/components/common/SettingsPanel.tsx
  ui-speedspacechart/src/styles/main.css
Owners: @openrailassociation/OSRD-Front

ui-speedspacechart: fix-detailsbox-display
  ui-speedspacechart/src/components/SpeedSpaceChart.tsx
  ui-speedspacechart/src/components/common/DetailsBox.tsx
  ui-speedspacechart/src/components/common/SettingsPanel.tsx
  ui-speedspacechart/src/styles/main.css
Owners: @openrailassociation/OSRD-Front

ui-speedspacechart : add speed limit tags layer
  ui-speedspacechart/src/components/SpeedSpaceChart.tsx
  ui-speedspacechart/src/components/common/DetailsBox.tsx
  ui-speedspacechart/src/components/common/Tooltip.tsx
  ui-speedspacechart/src/components/const.ts
  ui-speedspacechart/src/components/helpers/drawElements/electricalProfile.ts
  ui-speedspacechart/src/components/helpers/drawElements/speedLimitTags.ts
  ui-speedspacechart/src/components/helpers/drawElements/tickYRight.ts
  ui-speedspacechart/src/components/layers/SpeedLimitTagsLayer.tsx
  ui-speedspacechart/src/components/utils.ts
  ui-speedspacechart/src/stories/assets/sampleData.ts
  ui-speedspacechart/src/styles/main.css
  ui-speedspacechart/src/types/chartTypes.ts
  ui-speedspacechart/src/types/simulationTypes.ts
  ui-speedspacechart/tsconfig.json
Owners: @openrailassociation/OSRD-Front

ui-manchette: fix wrapper width
  ui-manchette/src/styles/manchette.css
Owners: @openrailassociation/OSRD-Front

ui-speedspacechart : add speed limit tags layer
  ui-speedspacechart/src/components/SpeedSpaceChart.tsx
  ui-speedspacechart/src/components/common/DetailsBox.tsx
  ui-speedspacechart/src/components/common/Tooltip.tsx
  ui-speedspacechart/src/components/const.ts
  ui-speedspacechart/src/components/helpers/drawElements/electricalProfile.ts
  ui-speedspacechart/src/components/helpers/drawElements/speedLimitTags.ts
  ui-speedspacechart/src/components/helpers/drawElements/tickYRight.ts
  ui-speedspacechart/src/components/layers/SpeedLimitTagsLayer.tsx
  ui-speedspacechart/src/components/utils.ts
  ui-speedspacechart/src/stories/assets/sampleData.ts
  ui-speedspacechart/src/styles/main.css
  ui-speedspacechart/src/types/chartTypes.ts
  ui-speedspacechart/src/types/simulationTypes.ts
  ui-speedspacechart/tsconfig.json
Owners: @openrailassociation/OSRD-Front

ui-core: remove french language story
  ui-core/src/stories/TimePicker.stories.tsx
Owners: @openrailassociation/OSRD-Front

action: final newline ci check
  .github/workflows/osrd-ui-build.yml
Owners: @openrailassociation/OSRD-DevOps

all: fix missing newline
  ui-manchette/src/styles/operational-point-list.css
  ui-speedspacechart/README.md
Owners: @openrailassociation/OSRD-Front

action: final newline ci check
  .github/workflows/osrd-ui-build.yml
Owners: @openrailassociation/OSRD-DevOps

all: fix missing newline
  ui-manchette/src/styles/operational-point-list.css
  ui-speedspacechart/README.md
Owners: @openrailassociation/OSRD-Front

ui-warpedmap: fix useeffect warnings
  ui-warped-map/src/components/DataLoader.tsx
Owners: @openrailassociation/OSRD-Front

ui-core, datePicker: Implement datePicker
  package-lock.json
  ui-core/package.json
  ui-core/src/components/hooks/useModalPosition.tsx
  ui-core/src/components/inputs/Input.tsx
  ui-core/src/components/inputs/PasswordInput.tsx
  ui-core/src/components/inputs/datePicker/Calendar.tsx
  ui-core/src/components/inputs/datePicker/CalendarPicker.tsx
  ui-core/src/components/inputs/datePicker/DatePicker.tsx
  ui-core/src/components/inputs/datePicker/__tests__/useCalendar.spec.ts
  ui-core/src/components/inputs/datePicker/__tests__/useCalendarPicker.spec.ts
  ui-core/src/components/inputs/datePicker/__tests__/useDatePicker.spec.ts
  ui-core/src/components/inputs/datePicker/__tests__/utils.spec.ts
  ui-core/src/components/inputs/datePicker/index.tsx
  ui-core/src/components/inputs/datePicker/type.ts
  ui-core/src/components/inputs/datePicker/useCalendar.ts
  ui-core/src/components/inputs/datePicker/useCalendarPicker.ts
  ui-core/src/components/inputs/datePicker/useDatePicker.ts
  ui-core/src/components/inputs/datePicker/utils.ts
  ui-core/src/index.ts
  ui-core/src/stories/DatePicker.stories.tsx
  ui-core/src/stories/PasswordInput.stories.tsx
  ui-core/src/styles/animations.css
  ui-core/src/styles/button.css
  ui-core/src/styles/inputs/datePicker.css
  ui-core/src/styles/inputs/fieldWrapper.css
  ui-core/src/styles/inputs/index.css
  ui-core/src/styles/inputs/input.css
  ui-core/src/styles/inputs/passwordInput.css
  ui-core/src/styles/main.css
  ui-core/vitest.config.mts
Owners: @openrailassociation/OSRD-Front

ui-core, datePicker: Implement datePicker
  package-lock.json
  ui-core/package.json
  ui-core/src/components/hooks/useModalPosition.tsx
  ui-core/src/components/inputs/Input.tsx
  ui-core/src/components/inputs/PasswordInput.tsx
  ui-core/src/components/inputs/datePicker/Calendar.tsx
  ui-core/src/components/inputs/datePicker/CalendarPicker.tsx
  ui-core/src/components/inputs/datePicker/DatePicker.tsx
  ui-core/src/components/inputs/datePicker/__tests__/useCalendar.spec.ts
  ui-core/src/components/inputs/datePicker/__tests__/useCalendarPicker.spec.ts
  ui-core/src/components/inputs/datePicker/__tests__/useDatePicker.spec.ts
  ui-core/src/components/inputs/datePicker/__tests__/utils.spec.ts
  ui-core/src/components/inputs/datePicker/index.tsx
  ui-core/src/components/inputs/datePicker/type.ts
  ui-core/src/components/inputs/datePicker/useCalendar.ts
  ui-core/src/components/inputs/datePicker/useCalendarPicker.ts
  ui-core/src/components/inputs/datePicker/useDatePicker.ts
  ui-core/src/components/inputs/datePicker/utils.ts
  ui-core/src/index.ts
  ui-core/src/stories/DatePicker.stories.tsx
  ui-core/src/stories/PasswordInput.stories.tsx
  ui-core/src/styles/animations.css
  ui-core/src/styles/button.css
  ui-core/src/styles/inputs/datePicker.css
  ui-core/src/styles/inputs/fieldWrapper.css
  ui-core/src/styles/inputs/index.css
  ui-core/src/styles/inputs/input.css
  ui-core/src/styles/inputs/passwordInput.css
  ui-core/src/styles/main.css
  ui-core/vitest.config.mts
Owners: @openrailassociation/OSRD-Front

ui-core: add build instructions to readme file
  README.md
Owners: @openrailassociation/OSRD-Front

ui-icons: adding icons for gauge and signals
  ui-icons/icons/gauge-16.svg
  ui-icons/icons/gauge-24.svg
  ui-icons/icons/signals-16.svg
  ui-icons/icons/signals-24.svg
Owners: @openrailassociation/OSRD-Front

ui-icons: add class and color in the icons props
  ui-icons/scripts/build.js
  ui-icons/src/components/_template.tsx
  ui-icons/src/stories/Icons.stories.tsx
  ui-icons/src/stories/SearchIcons.tsx
Owners: @openrailassociation/OSRD-Front

ui-warpedmap: fix useeffect warnings
  ui-warped-map/src/components/DataLoader.tsx
Owners: @openrailassociation/OSRD-Front

ui-speedspacechart: fix display issues when the GEV is integrated in OSRD
  ui-warped-map/src/components/DataLoader.tsx
Owners: @openrailassociation/OSRD-Front

ui-speedspacechart: fix display issues when the GEV is integrated in OSRD
  ui-speedspacechart/src/__tests__/utils.spec.ts
  ui-speedspacechart/src/components/SpeedSpaceChart.tsx
  ui-speedspacechart/src/components/common/DetailsBox.tsx
  ui-speedspacechart/src/components/common/SettingsPanel.tsx
  ui-speedspacechart/src/components/layers/FrontInteractivityLayer.tsx
  ui-speedspacechart/src/components/utils.ts
  ui-speedspacechart/src/stories/SpeedSpaceChart.stories.tsx
  ui-speedspacechart/src/styles/main.css
  ui-speedspacechart/src/types/chartTypes.ts
Owners: @openrailassociation/OSRD-Front

ui-speedspacechart: fix display issues when the GEV is integrated in OSRD
  ui-speedspacechart/src/__tests__/utils.spec.ts
  ui-speedspacechart/src/components/SpeedSpaceChart.tsx
  ui-speedspacechart/src/components/common/DetailsBox.tsx
  ui-speedspacechart/src/components/common/SettingsPanel.tsx
  ui-speedspacechart/src/components/layers/FrontInteractivityLayer.tsx
  ui-speedspacechart/src/components/utils.ts
  ui-speedspacechart/src/stories/SpeedSpaceChart.stories.tsx
  ui-speedspacechart/src/styles/main.css
  ui-speedspacechart/src/types/chartTypes.ts
Owners: @openrailassociation/OSRD-Front

ui-core: add build instructions to readme file
  README.md
Owners: @openrailassociation/OSRD-Front

ui-core: fix text-area story background
  ui-core/src/stories/TextArea.stories.tsx
Owners: @openrailassociation/OSRD-Front

ui-core: add label stories
  ui-core/src/stories/Label.stories.tsx
Owners: @openrailassociation/OSRD-Front

ui-core: fix text-area story background
  ui-core/src/stories/TextArea.stories.tsx
Owners: @openrailassociation/OSRD-Front
