Repository OpenRailAssociation/osrd-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openrailassociation/OSRD-Front, @openrailassociation/OSRD-DevOps, @openrailassociation/OSRD-Admins

.github/CODEOWNERS:

*                                                        @openrailassociation/OSRD-Front

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @openrailassociation/OSRD-DevOps
/.github/CODEOWNERS                                      @openrailassociation/OSRD-Admins

# --- NIX ---
/nix                                                     @openrailassociation/OSRD-DevOps
/flake.lock                                              @openrailassociation/OSRD-DevOps
*.nix                                                    @openrailassociation/OSRD-DevOps

- remove FC types from ui-warped-map
  ui-warped-map/src/components/BaseMap.tsx
  ui-warped-map/src/components/DataLoader.tsx
  ui-warped-map/src/components/Loader.tsx
  ui-warped-map/src/components/TransformedDataMap.tsx
  ui-warped-map/src/components/WarpedMap.tsx
  ui-warped-map/src/stories/Algorithms.tsx
  ui-warped-map/src/stories/SampleMap.tsx
Owners: @openrailassociation/OSRD-Front

setup: add issue template
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/development_task.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/question.yaml
Owners: @openrailassociation/OSRD-DevOps

speedspacechart: fix crash on empty stops
  ui-speedspacechart/src/components/helpers/drawElements/reticle.ts
Owners: @openrailassociation/OSRD-Front

speedspacechart: fix round value to decimal
  ui-speedspacechart/src/components/helpers/drawElements/reticle.ts
Owners: @openrailassociation/OSRD-Front

fixup! - remove FC types from ui-warped-map
  ui-core/src/components/inputs/datePicker/Calendar.tsx
  ui-spacetimechart/src/stories/additional-data.stories.tsx
  ui-spacetimechart/src/stories/base-rendering.stories.tsx
  ui-spacetimechart/src/stories/custom-styles.stories.tsx
  ui-spacetimechart/src/stories/measuring.stories.tsx
  ui-spacetimechart/src/stories/options.stories.tsx
  ui-spacetimechart/src/stories/paths-interactions.stories.tsx
  ui-spacetimechart/src/stories/performances.stories.tsx
  ui-spacetimechart/src/stories/scroll-navigation.stories.tsx
  ui-spacetimechart/src/stories/stage-interactions.stories.tsx
  ui-warped-map/src/components/BaseMap.tsx
  ui-warped-map/src/components/DataLoader.tsx
  ui-warped-map/src/components/TransformedDataMap.tsx
  ui-warped-map/src/components/WarpedMap.tsx
  ui-warped-map/src/stories/Algorithms.tsx
Owners: @openrailassociation/OSRD-Front

- remove FC types from ui-spacetimechart
  ui-spacetimechart/src/components/PathLayer.tsx
  ui-spacetimechart/src/components/SpaceGraduations.tsx
  ui-spacetimechart/src/components/SpaceTimeChart.tsx
  ui-spacetimechart/src/components/TimeCaptions.tsx
  ui-spacetimechart/src/components/TimeGraduations.tsx
  ui-spacetimechart/src/stories/additional-data.stories.tsx
  ui-spacetimechart/src/stories/base-rendering.stories.tsx
  ui-spacetimechart/src/stories/custom-styles.stories.tsx
  ui-spacetimechart/src/stories/lib/components.tsx
  ui-spacetimechart/src/stories/measuring.stories.tsx
  ui-spacetimechart/src/stories/options.stories.tsx
  ui-spacetimechart/src/stories/paths-interactions.stories.tsx
  ui-spacetimechart/src/stories/performances.stories.tsx
  ui-spacetimechart/src/stories/scroll-navigation.stories.tsx
  ui-spacetimechart/src/stories/stage-interactions.stories.tsx
Owners: @openrailassociation/OSRD-Front

- remove FC types from ui-core
  ui-core/src/components/Modal.tsx
  ui-core/src/components/buttons/Button.tsx
  ui-core/src/components/inputs/Checkbox/Checkbox.tsx
  ui-core/src/components/inputs/Checkbox/CheckboxList.tsx
  ui-core/src/components/inputs/FieldWrapper.tsx
  ui-core/src/components/inputs/Hint.tsx
  ui-core/src/components/inputs/Input.tsx
  ui-core/src/components/inputs/InputStatusIcon.tsx
  ui-core/src/components/inputs/Label.tsx
  ui-core/src/components/inputs/RadioButton.tsx
  ui-core/src/components/inputs/RadioGroup.tsx
  ui-core/src/components/inputs/StatusMessage.tsx
  ui-core/src/components/inputs/TextArea.tsx
  ui-core/src/components/inputs/TimePicker.tsx
  ui-core/src/components/inputs/TokenInput.tsx
  ui-core/src/components/inputs/datePicker/Calendar.tsx
  ui-core/src/components/inputs/datePicker/CalendarPicker.tsx
  ui-core/src/components/inputs/datePicker/DatePicker.tsx
  ui-core/src/components/inputs/tolerancePicker/TolerancePicker.tsx
  ui-core/src/components/inputs/tolerancePicker/ToleranceRangeGrid.tsx
Owners: @openrailassociation/OSRD-Front

fixup! - remove FC types from ui-warped-map
  ui-core/src/components/inputs/datePicker/Calendar.tsx
  ui-spacetimechart/src/stories/additional-data.stories.tsx
  ui-spacetimechart/src/stories/base-rendering.stories.tsx
  ui-spacetimechart/src/stories/custom-styles.stories.tsx
  ui-spacetimechart/src/stories/measuring.stories.tsx
  ui-spacetimechart/src/stories/options.stories.tsx
  ui-spacetimechart/src/stories/paths-interactions.stories.tsx
  ui-spacetimechart/src/stories/performances.stories.tsx
  ui-spacetimechart/src/stories/scroll-navigation.stories.tsx
  ui-spacetimechart/src/stories/stage-interactions.stories.tsx
  ui-warped-map/src/components/BaseMap.tsx
  ui-warped-map/src/components/DataLoader.tsx
  ui-warped-map/src/components/TransformedDataMap.tsx
  ui-warped-map/src/components/WarpedMap.tsx
  ui-warped-map/src/stories/Algorithms.tsx
Owners: @openrailassociation/OSRD-Front

setup: ban FC type in eslintrc
  .eslintrc
Owners: @openrailassociation/OSRD-Front

- remove FC types from ui-manchette
  ui-manchette/src/components/Manchette.tsx
  ui-manchette/src/components/OperationalPoint.tsx
  ui-manchette/src/components/OperationalPointList.tsx
Owners: @openrailassociation/OSRD-Front

- remove FC types from ui-warped-map
  ui-warped-map/src/components/BaseMap.tsx
  ui-warped-map/src/components/DataLoader.tsx
  ui-warped-map/src/components/Loader.tsx
  ui-warped-map/src/components/TransformedDataMap.tsx
  ui-warped-map/src/components/WarpedMap.tsx
  ui-warped-map/src/stories/Algorithms.tsx
  ui-warped-map/src/stories/SampleMap.tsx
Owners: @openrailassociation/OSRD-Front

speedspacechart: fix reticle layer remove useless .0
  ui-speedspacechart/src/components/helpers/drawElements/tickX.ts
Owners: @openrailassociation/OSRD-Front

github: fix CI for external contributors
  .github/workflows/osrd-ui-build.yml
Owners: @openrailassociation/OSRD-DevOps

speedspacechart: fix round value to decimal
  ui-speedspacechart/src/components/helpers/drawElements/reticle.ts
Owners: @openrailassociation/OSRD-Front

speedspacechart: fix reticle layer remove useless .0
  ui-speedspacechart/src/components/helpers/drawElements/tickX.ts
Owners: @openrailassociation/OSRD-Front

github: fix CI for external contributors
  .github/workflows/osrd-ui-build.yml
Owners: @openrailassociation/OSRD-DevOps

readme: spelling grammar
  README.md
Owners: @openrailassociation/OSRD-Front

readme: spelling grammar punctuation
  README.md
Owners: @openrailassociation/OSRD-Front

readme: spelling grammar punctuation
  README.md
Owners: @openrailassociation/OSRD-Front

speedspacechart: remove legacy parameter isEco
  ui-speedspacechart/src/components/hooks.ts
  ui-speedspacechart/src/components/layers/CurveLayer.tsx
  ui-speedspacechart/src/types/chartTypes.ts
Owners: @openrailassociation/OSRD-Front

all: add contributing file with DCO mention
  CONTRIBUTING.md
Owners: @openrailassociation/OSRD-Front

speedspacechart: remove useless max zoom condition
  ui-speedspacechart/src/components/helpers/drawElements/tickX.ts
Owners: @openrailassociation/OSRD-Front

speedspacechart: remove legacy parameter isEco
  ui-speedspacechart/src/components/hooks.ts
  ui-speedspacechart/src/components/layers/CurveLayer.tsx
  ui-speedspacechart/src/types/chartTypes.ts
Owners: @openrailassociation/OSRD-Front

speedspacechart: remove useless max zoom condition
  ui-speedspacechart/src/components/helpers/drawElements/tickX.ts
Owners: @openrailassociation/OSRD-Front

ui-speedspacechart: helpers fix spelling in comment
  ui-speedspacechart/src/components/helpers/drawElements/tickX.ts
Owners: @openrailassociation/OSRD-Front

fixup! ui-speedspacechart: fix non sticky unit icon on right axis
  ui-speedspacechart/src/components/const.ts
  ui-speedspacechart/src/components/helpers/drawElements/gridY.ts
  ui-speedspacechart/src/components/helpers/drawElements/tickYRight.ts
Owners: @openrailassociation/OSRD-Front

ui-speedspacechart: fix non sticky unit icon on right axis
  ui-speedspacechart/src/components/const.ts
  ui-speedspacechart/src/components/helpers/drawElements/gridY.ts
  ui-speedspacechart/src/components/helpers/drawElements/tickYRight.ts
Owners: @openrailassociation/OSRD-Front

all: add contributing file with DCO mention
  CONTRIBUTING.md
Owners: @openrailassociation/OSRD-Front

nix: add flake extra config for macos
  flake.lock
  flake.nix
Owners: @openrailassociation/OSRD-DevOps

all: add REUSE
  .github/workflows/osrd-ui-build.yml
  LICENSES/GPL-3.0-only.txt
  LICENSES/LGPL-3.0-only.txt
  REUSE.toml
Owners: @openrailassociation/OSRD-DevOps, @openrailassociation/OSRD-Front

all: add REUSE
  .github/workflows/osrd-ui-build.yml
  LICENSES/GPL-3.0-only.txt
  LICENSES/LGPL-3.0-only.txt
  REUSE.toml
Owners: @openrailassociation/OSRD-DevOps, @openrailassociation/OSRD-Front

ci: add dco check
  .github/workflows/osrd-ui-build.yml
Owners: @openrailassociation/OSRD-DevOps

ui-spacetimechart: fix tailwind config for storybooks
  rollup-base.config.js
  ui-spacetimechart/package.json
  ui-spacetimechart/postcss.config.cjs
  ui-spacetimechart/rollup.config.js
  ui-spacetimechart/src/index.ts
  ui-spacetimechart/src/stories/additional-data.stories.tsx
  ui-spacetimechart/src/stories/base-rendering.stories.tsx
  ui-spacetimechart/src/stories/custom-styles.stories.tsx
  ui-spacetimechart/src/stories/lib/tailwind-mockup.css
  ui-spacetimechart/src/stories/measuring.stories.tsx
  ui-spacetimechart/src/stories/options.stories.tsx
  ui-spacetimechart/src/stories/paths-interactions.stories.tsx
  ui-spacetimechart/src/stories/performances.stories.tsx
  ui-spacetimechart/src/stories/scroll-navigation.stories.tsx
  ui-spacetimechart/src/stories/stage-interactions.stories.tsx
  ui-spacetimechart/src/styles/main.css
  ui-spacetimechart/tailwind.config.js
Owners: @openrailassociation/OSRD-Front

ui-spacetimechart: fix tailwind config for storybooks
  rollup-base.config.js
  ui-spacetimechart/package.json
  ui-spacetimechart/postcss.config.cjs
  ui-spacetimechart/rollup.config.js
  ui-spacetimechart/src/index.ts
  ui-spacetimechart/src/stories/additional-data.stories.tsx
  ui-spacetimechart/src/stories/base-rendering.stories.tsx
  ui-spacetimechart/src/stories/custom-styles.stories.tsx
  ui-spacetimechart/src/stories/lib/tailwind-mockup.css
  ui-spacetimechart/src/stories/measuring.stories.tsx
  ui-spacetimechart/src/stories/options.stories.tsx
  ui-spacetimechart/src/stories/paths-interactions.stories.tsx
  ui-spacetimechart/src/stories/performances.stories.tsx
  ui-spacetimechart/src/stories/scroll-navigation.stories.tsx
  ui-spacetimechart/src/stories/stage-interactions.stories.tsx
  ui-spacetimechart/src/styles/main.css
  ui-spacetimechart/tailwind.config.js
Owners: @openrailassociation/OSRD-Front

speedspacechart: code refactoring tick X axis
  ui-speedspacechart/src/components/helpers/drawElements/tickX.ts
Owners: @openrailassociation/OSRD-Front

utils: clean max position value util function
  ui-speedspacechart/src/__tests__/utils.spec.ts
  ui-speedspacechart/src/components/helpers/drawElements/curve.ts
  ui-speedspacechart/src/components/helpers/drawElements/declivity.ts
  ui-speedspacechart/src/components/helpers/drawElements/electricalProfile.ts
  ui-speedspacechart/src/components/helpers/drawElements/gridX.ts
  ui-speedspacechart/src/components/helpers/drawElements/powerRestrictions.ts
  ui-speedspacechart/src/components/helpers/drawElements/reticle.ts
  ui-speedspacechart/src/components/helpers/drawElements/speedLimitTags.ts
  ui-speedspacechart/src/components/helpers/drawElements/step.ts
  ui-speedspacechart/src/components/helpers/drawElements/tickX.ts
  ui-speedspacechart/src/components/utils.ts
Owners: @openrailassociation/OSRD-Front

speedspacechart: code refactoring tick X axis
  ui-speedspacechart/src/components/helpers/drawElements/tickX.ts
Owners: @openrailassociation/OSRD-Front

utils: clean max position value util function
  ui-speedspacechart/src/__tests__/utils.spec.ts
  ui-speedspacechart/src/components/helpers/drawElements/curve.ts
  ui-speedspacechart/src/components/helpers/drawElements/declivity.ts
  ui-speedspacechart/src/components/helpers/drawElements/electricalProfile.ts
  ui-speedspacechart/src/components/helpers/drawElements/gridX.ts
  ui-speedspacechart/src/components/helpers/drawElements/powerRestrictions.ts
  ui-speedspacechart/src/components/helpers/drawElements/reticle.ts
  ui-speedspacechart/src/components/helpers/drawElements/speedLimitTags.ts
  ui-speedspacechart/src/components/helpers/drawElements/step.ts
  ui-speedspacechart/src/components/helpers/drawElements/tickX.ts
  ui-speedspacechart/src/components/utils.ts
Owners: @openrailassociation/OSRD-Front

ci: add dco check
  .github/workflows/osrd-ui-build.yml
Owners: @openrailassociation/OSRD-DevOps

speedspacechart: code refactoring tick Y axis
  ui-speedspacechart/src/components/helpers/drawElements/tickY.ts
Owners: @openrailassociation/OSRD-Front
